@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  border: 3px solid white;
  background: transparent;
  border-radius: 30px; 
  padding: 0.5rem 1rem;
  font-size: 1.3rem; 
  font-weight: 500; 
  color: #4287f5;
  transition: background 0.3s ease, border-radius 0.3s ease; /* Smooth transition */
  box-shadow: 0px 4.42184px 107.23px rgba(66, 135, 245, 0.51);
  font-family: "Inknut Antiqua", serif; /* Apply your custom font */
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #4169e1 21.43%,
    #1e90ff 50.63%,
    #4287f5 100%,
    #3bace2 117.04%
  );
  color: white;
  border-radius: 30px; /* Round the border on hover */
}

.section {
  padding-top: 2rem; 
  padding-bottom: 9rem; 
}

/* Additional styles */
.btn-lg {
  padding: 0.75rem 1.5rem; 
  font-size: 1.25rem; 
}



.gradient,
.active {
  border-radius: 30px;
  background: linear-gradient(
    92.23deg,
    #4169e1 21.43%,
    #1e90ff 50.63%,
    #4287f5 100%,
    #3bace2 117.04%
  );
}

.active {
  border-radius: 30px;
  color: #fff;
  padding: 1rem;
 
}



@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-blue-400 to-blue-600 font-bold font-primary hover:from-blue-600 hover:to-blue-400;
  }
  
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}

